/* .box {
    width : 100%;
    height: 50px;
    border-radius: 10px;
    border : 2px solid black;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
} */

.bar {
    width : 100%;
    height : 50px;
    background-color: blueviolet;
    text-align : center;
    padding-top: 20px;
}

.newBar {
    width : 100%;
    height : 50px;
    background-color: darkcyan;
    text-align : center;
    padding-top: 20px;
    display : none;
}

.show{
    display : block;
}